@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

p, h1, h2, h3, h4, h5, h6, a {
  font-family: "Montserrat" !important;
}

h1, h2, h3, h4, h5, h6 {
  opacity: 0.8 !important;
}

.design {
  background: url('/images/textilehome/desen-bg.png');
  color: #fff;
}

.design a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.design a:hover {
  border-bottom: 1px solid #fff;
}

.product-row:hover {
  background-color: transparent;
  transition: background-color 0.5s;
}

.product-row:hover {
  background-color: rgba(244, 244, 244, 0.75);
}

#dropdownMenuButton1 {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: border-bottom 0.15s, background-color 0.15s;
}

#dropdownMenuButton1:hover {
  background-color: #F1F6F9 !important;
  border-bottom: 2px solid #11468F;
  color: gray !important;
}

.App {
  text-align: center;
}

ul.siteRoutes {
  list-style-type: none;
}

ul.siteRoutes li {
  margin-bottom: 10px;
}

.siteRoute {
  text-decoration: none;
}

.flagIcon {
  width: 1.8rem;
  height: 1em;
  display: inline-block;
  border-radius: 0.3em;
  margin-bottom: 0.1em;
}
.header-phones {
  display: flex;
  flex-direction: row;
  margin-left: 0.7em;
}
.header-phones a {
  text-decoration: none;
  color:#444444;
  font-size: 0.85em;
  opacity: 0.7;
  transition: color 0.2s;
}
.header-phones a:hover {
  color:#4979ff;
}
.telephone-icon {
  opacity: 0.9;
  font-size: 0.9em;
  margin-right: 0.6em;
}

.mail-icon {
  opacity: 0.9;
  font-size: 1.1em;
  margin-bottom: 0.1em;
  margin-right: 0.6em;
}

.flagIcon:hover {
  /* cursor: pointer; */
}
.lang-select-button {
  width: 80%;
  background-color: transparent;
}
.lang-list {
  min-width: 8rem !important;
}
.lang-list-item {
  background-color: #fff;
  transition: background-color 0.28s;
}
.lang-select-button:hover {
  cursor: pointer;
}
.lang-list li:hover {
  background-color: #e8e8e8;
}
.lang-select-button p {
  display: inline-block;
  margin-bottom: 0;
  opacity: 0.9;
}
.langSelect {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.1rem;
  z-index: 1;
}

.index-icon {
  height:100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-link {
  text-decoration: none;
  color: #413F42;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-family: 'Montserrat';
}

.nav-button-link:hover {
  color: black;
  cursor: pointer;
}

.navigationBar {
  display: flex;
  max-width: 90%;
  align-items: center;
  justify-content: center;
}

.nav-link-textile {
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: color 0.2s, border 0.2s;
  transition-timing-function: ease-in;
}

.nav-link-marine:hover {
  color:#11468F;
  border-bottom: 3px solid #11468F;
}

.nav-link-active-marine {
  color:#11468F;
  border-bottom: 3px solid #11468F;
}

.nav-link-marine {
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: color 0.2s, border 0.2s;
  transition-timing-function: ease-in;
}

.nav-link-textile:hover {
  color:#BD4B4B;
  border-bottom: 3px solid #BD4B4B;
}

.nav-link-active-textile {
  color:#BD4B4B;
  border-bottom: 3px solid #BD4B4B;
}

.nav-link {
  font-size: 1.1em;
}

.navigationBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  padding: 0.7em;
}

.navbarDiv {
  padding: 0.5em;
  margin: 0.3em;
}

.nav-button-normal {
  border-radius: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}

.nav-button-dropdown {
  border-radius: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}

.nav-button:hover ~ .nav-button-link {
  cursor: pointer;
}

.ownmenu {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.ownmenu li {
	display: inline-block;
}
.ownmenu a {
	-o-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	outline: none;
	z-index: 10;
}

.down-logo {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}

.nav-list-logo {
  text-align: center;
  display: none;
}

.responsive-icon {
  height: 1.5em;
  width: 1.5em;
}

.site-link-textile {
  /* background-image: url('/images/textile-link-bg.jpg'); */
  background-color: #e8e8e8;
}

.site-link-marine {
  /* background-image: url('/images/marine-link-bg.jpeg'); */
  background-color: #e8e8e8;
}

.site-link {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.95;
  transition: opacity 0.3s;
}

.index-icon h2:hover {
  cursor: pointer;
}

.site-link:hover {
  opacity: 1;
}

.site-route {
  text-decoration: none;
  color:#413F42;
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  transition: color 0.3s;
}

.site-route:hover {
  color:#2C3639;
}

.nav-item-mine {
  /* border-bottom: 2px solid;
  border-color: transparent;
  transition: border-color 0.15s; */
}

/* .nav-item-mine:hover {
  border-color: gray;
} */

.comp-logo:hover {
  cursor: pointer;
}

.social-logo {
  height: 1.4em;
  width: 1.4em;
}

.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

/* FOOTER */

footer i {
  font-size: 40px;
  color: #000;
  opacity: 0.65;
}
footer p {
  color: #000;
  opacity: 0.65;
}
footer a {
  color: #000;
  opacity: 0.65;
}
.info-list-container {
}
.info-list-container h6 {
  margin-bottom: 1em;
  opacity: 0.85;
}
.footer-info-list {
  list-style: none;
  padding: 0;
}
.footer-info-item {

}
.inactive-icon {
  opacity: 0;
}
.footer-info-item p {
  font-size: 0.9em;
}
.footer-info-phones {
  list-style: none;
  padding:0;
}
.footer-info-phones p {
  font-size: 0.8em;
}
.phone-item {
  margin-bottom: 0.3em;
}
footer .col-12 {
  background-color: #fff;
}
.footer-left {
  background-color: #fff;
}
.footer-left-container {
  height: 10em;
}
.footer-right-container {
  height: 10em;
}
.footer-right {
  background-color: #fff;
}
.footer-right p {
  margin: 0;
}
.social-links {
  list-style: none;
  margin-top: 0.7em;
  padding: 0;
}
.social-links li {
  display: inline-block;
  margin-left: 0.5em;
}

.social-links a {
  border: 0.1em solid transparent;
  padding: 0.4em;
  border-radius: 1.1em;
}
.social-links .social-icon {
}
.social-links .facebook a:hover .social-icon {
  color: #11468F;
  opacity: 1;
}
.social-links .instagram a:hover .social-icon {
  color: #BD4B4B;
  opacity: 1;
}
.social-icon {
  width: 1.3em;
  height: 1.3em;
  margin-bottom: 0.3em;
  color: #000;
  opacity: 0.65;
}
.textile-home {
  height: 70vh;
}

.company {
  font-size: 0.8em;
  margin-bottom: 0;
}
.contract-link {
  text-decoration: none;
}
.contracts-list-item {
  margin-bottom: 0.7em;
}

/* CONTACT PAGE */

.tittle {
	text-align: center;
	margin-bottom: 25px;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 70px;
  opacity: 0.8;
}
.tittle h4 {
	font-weight: normal;
	margin: 0px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.tittle p {
	color: #989898;
	font-size: 15px;
	font-family: 'Droid Serif', serif;
	line-height: 28px;
}
.contact-info h5 {
  opacity: 0.85;
  margin-bottom: 2em;
  text-align: center;
}
.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-icon {
  opacity: 0.9;
  font-size: 0.9em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
}

.contact-info .media {
  display: flex;
  overflow: hidden;
  float: left;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  width: 100%;
}
.contact-info .media-left {
  display: inline-block;
  margin: 1em;
  height: 100%;
  width: 25%;
}
.contact-info .media-body {
  display: inline-block;
  width: 75%;
}
.contact-info h6 {
  font-size: 0.95em;
  opacity: 0.75;
}
.contact-info p {
  font-size: 0.85em;
  opacity: 0.7;
}
.media-left .icon-div {
  display: inline-block;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  border: 1px solid gray;
  border-radius: 200px;
  padding: 1em;
}
.media-left .icon {
  opacity: 0.85;
  height: 1.4em;
  width: 1.4em;
}
.contact-form {
}
.contact-form ul {
  list-style: none;
}
.form-control {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #e8e8e8;
	background: #fff;
}
.contact-form input {
  display: inline-block;
	width: 100%;
	font-size: 13px;
	padding: 0 20px;
	height: 47px;
	font-weight: normal;
	color: #000;
}
.contact-form label {
	font-weight: normal;
	color: #444444;
	font-size: 1em;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
  height: 185px;
	position: relative;
}

.contact-form .btn {
	background: none;
	color: #35373e;
	border-radius: 4px;
	display: inline-block;
	padding: 13px 30px;
	font-size: 12px;
	border: 1px solid #35373e;
	text-transform: uppercase;
	border-radius: 0px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.contact-form .btn:hover {
	background: #35373e;
	color: #fff;
}

/* MARINE HOME */
.marine-home-section {
  background-color: #F8F9FA;
}
.marine-home-section p {
  font-size: 1em;
}
.marine-home-section .col-12 p {
  opacity: 0.9;
  line-height: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.marine-sub-article img {
  height: 360px;
  width: 100%;
}

/* ABOUT US SECTION*/

.about-us-section article {
  width: 80%;
}
.about-us-section p {
  line-height: 2em;
  opacity: 0.7;
}
.about-us-section h4 {
  opacity: 0.9;
}
.about-img {
  height: 450px;
  width: 600px;
}

/* TEXTILE HOME SECTION*/

.textile-home-slider {
  width: 100%;
  height: 80%;
}

/* TEXTILE SLIDER */
.carousel-edit {
  width: 100%;
}
.carousel-inner img {
  opacity: 0.95;
}
.carousel-item {
  position: relative;
}
.carousel-item-text-1 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.8;
  font-size: 2em;
  padding: 1em;
  left: 100px;
  right: 100px;
  bottom: 50px;
}
.carousel-item-text-2 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.9;
  font-size: 2em;
  padding: 1em;
  top: 50px;
  right: 50px;
}
.carousel-item-text-3 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.9;
  font-size: 2em;
  padding: 1em;
  top: 50px;
  right: 50px;
}

/* 404 */


/* SIDEBAR */

.sidebar {
  display: flex;
}

.sidebar-nav {

}

.sidebar ul {
  list-style: none;
  background-color: transparent;
  border-radius: 2em;
  width: 100%;
  margin-top: 1em;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  width: 300px;
  height: 100px;
  opacity: 0.6;
  display: inline-block;
  transition: opacity 0.3s;
}

.sidebar ul li:hover {
  opacity: 0.85;
}

/* .sidebar ul li:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar ul li:last-of-type {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
} */

.sidebar ul li:hover {
  background-color: #e8e8e8;
}

.sidebar ul li:hover a {
  color: #413F42;
  font-weight: 500;
}

.sidebar ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: #e8e8e8;
}

.sidebar ul li a:hover {
  color: #413F42;
}

.sidebar-curtain {
  background: url('/images/textileproductnavs/curtain.jpeg');
  background-size: cover;
}
.sidebar-towel {
  background: url('/images/textileproductnavs/towel.jpeg');
  background-size: cover;
}
.sidebar-fabric {
  background: url('/images/textileproductnavs/fabric.jpeg');
  background-size: cover;
}
.sidebar-tshirt {
  background: url('/images/textileproductnavs/tshirt.jpeg');
  background-size: cover;
}

/* PRODUCTS TEXTILE */


/* CORPORATE */

.corporate-navbar {
  padding: 0.7em;
  background-color: #f6f8fb;
}

.corporate-nav {
  position: relative;
  display: block;
  text-decoration: none;
  color: gray;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: large;
  width: 250px;
  transition: color 0.3s;
}

.corporate-nav:hover {
  color: #5F9DF7;
}

.corporate-navbar a:last-of-type {
  border-bottom: none !important;
}

.chevron-icon {
  position: absolute;
  right: 0;
  font-size: 0.8em;
}

/* MEDİA QUERIES */

@media screen and (max-width: 800px) {
  p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  .index-icon {
    height: 50vh;
  }
  .nav-item-mine {
    border-bottom: none;
    border-color: transparent;
  }
  .info-list-container {
    text-align: center;
  }
  .sidebar ul li:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .sidebar ul li:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .footer-icon {
    justify-content: center;
  }
  .navbar-mobile {
    text-align: center;
  }
  .header-phones {
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
  }
  .telephone-icon {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) { 
  .navbar-mobile {
    text-align: center;
  }
  /* .sidebar ul li:first-of-type {
    border-top-left-radius: 10px;
  }
  .sidebar ul li:nth-of-type(2) {
    border-top-right-radius: 10px;
  }
  .sidebar ul li:nth-of-type(3) {
    border-bottom-left-radius: 10px;
  }
  .sidebar ul li:last-of-type {
    border-bottom-right-radius: 10px;
  } */
}

@media screen and (min-width: 1600px) { 

}