@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

p, h1, h2, h3, h4, h5, h6, a {
  font-family: "Montserrat" !important;
}

h1, h2, h3, h4, h5, h6 {
  opacity: 0.87 !important;
}

body {
  text-rendering: optimizeSpeed;
}

.site-toggle-button {
  position: relative;
}

.site-toggle-img {
  position: absolute;
  top: 20px;
  bottom: 20px;
}
.design {
  background-image: url('/images/textilehome/desen-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.design h2 {
  opacity: 1 !important;
}

.design a {
  text-decoration: none;
  position: relative;
  color: #F8F9FA !important;
  opacity: 1 !important;
}

.design a:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -5px;
  background: #F8F9FA;
  height: 1px;
  width: 0;
  transition: all 0.3s;
}

.design a:hover::after {
  width: 100%;
}

.textile-product-button{
  z-index: 30;
  transition: all 0.1s;
}

.textile-product-button:hover {
  cursor: pointer;
  color: #e8e8e8 !important;
}

.product-row {
  background-color: transparent;
  width: 100%;
}

.dropdownMenuButton-textile {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: border-bottom 0.15s, background-color 0.15s;
}

.dropdownMenuButton-marine {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: border-bottom 0.15s, background-color 0.15s;
}

.dropdownMenuButton-marine:hover {
  background-color: #F1F6F9 !important;
  border-bottom: 2px solid #11468F !important;
  color: gray !important;
}

.dropdownMenuButton-textile:hover {
  background-color: #F1F6F9 !important;
  border-bottom: 2px solid #E41D4D !important;
  color: gray !important;
}

.App {
  text-align: center;
}

ul.siteRoutes {
  list-style-type: none;
}

ul.siteRoutes li {
  margin-bottom: 10px;
}

.siteRoute {
  text-decoration: none;
}

.flagIcon {
  width: 1.8rem;
  height: 1em;
  display: inline-block;
  border-radius: 0.3em;
  margin-bottom: 0.1em;
}
.header-phones {
  display: flex;
  flex-direction: row;
  margin-left: 0.7em;
}
.header-phones a {
  text-decoration: none;
  color:#444444;
  font-size: 0.85em;
  opacity: 0.7;
  transition: color 0.2s;
}
.header-phones a:hover {
  color:#BD4B4B;
}
.telephone-icon {
  opacity: 0.9;
  font-size: 0.9em;
  margin-right: 0.6em;
}

.mail-icon {
  opacity: 0.9;
  font-size: 1.1em;
  margin-bottom: 0.1em;
  margin-right: 0.6em;
}

.flagIcon:hover {
  /* cursor: pointer; */
}
.lang-select-button {
  width: 80%;
  background-color: transparent;
}
.lang-list {
  min-width: 8rem !important;
}
.lang-list-item {
  background-color: #fff;
  transition: background-color 0.28s;
}
.lang-select-button:hover {
  cursor: pointer;
}
.lang-list li:hover {
  background-color: #e8e8e8;
}
.lang-select-button p {
  display: inline-block;
  margin-bottom: 0;
  opacity: 0.9;
}
.langSelect {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.1rem;
  z-index: 1;
}

.index-icon {
  height:100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-link {
  text-decoration: none;
  color: #413F42;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-family: 'Montserrat';
}

.nav-button-link:hover {
  color: black;
  cursor: pointer;
}

.navigationBar {
  display: flex;
  max-width: 90%;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.1em;
  font-weight: 500 !important;
}

.navigationBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  padding: 0.7em;
}

.navbarDiv {
  padding: 0.5em;
  margin: 0.3em;
}

.nav-button-normal {
  border-radius: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}

.nav-button-dropdown {
  border-radius: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}

.nav-button:hover ~ .nav-button-link {
  cursor: pointer;
}

.ownmenu {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.ownmenu li {
	display: inline-block;
}
.ownmenu a {
	-o-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	outline: none;
	z-index: 10;
}

.down-logo {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}

.nav-list-logo {
  text-align: center;
  display: none;
}

.responsive-icon {
  height: 1.5em;
  width: 1.5em;
}

.site-link-textile {
  /* background-image: url('/images/textile-link-bg.jpg'); */
  background-color: #e8e8e8;
}

.site-link-marine {
  /* background-image: url('/images/marine-link-bg.jpeg'); */
  background-color: #e8e8e8;
}

.site-link {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.95;
  transition: opacity 0.3s;
}

.index-icon h2:hover {
  cursor: pointer;
}

.site-link:hover {
  opacity: 1;
}

.site-route {
  text-decoration: none;
  color:#413F42;
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  transition: color 0.3s;
}

.site-route:hover {
  color:#2C3639;
}


.nav-item-mine {
  /* border-bottom: 2px solid;
  border-color: transparent;
  transition: border-color 0.15s; */
}

/* .nav-item-mine:hover {
  border-color: gray;
} */

.comp-logo:hover {
  cursor: pointer;
}

.social-logo {
  height: 1.4em;
  width: 1.4em;
}

.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

/* FOOTER */

footer i {
  font-size: 40px;
  color: #000;
  opacity: 0.65;
}
footer p {
  color: #000;
  opacity: 0.65;
}
footer a {
  color: #000;
  opacity: 0.65;
}
.info-list-container {
}
.info-list-container h6 {
  margin-bottom: 1em;
  opacity: 0.85;
}
.footer-info-list {
  list-style: none;
  padding: 0;
}
.footer-info-item {

}
.inactive-icon {
  opacity: 0;
}
.footer-info-item p {
  font-size: 0.9em;
}
.footer-info-phones {
  list-style: none;
  padding:0;
}
.footer-info-phones p {
  font-size: 0.8em;
}
.phone-item {
  margin-bottom: 0.3em;
}
footer .col-12 {
  background-color: #fff;
}
.footer-left {
  background-color: #fff;
}
.footer-left-container {
  height: 10em;
}
.footer-right-container {
  height: 10em;
}
.footer-right {
  background-color: #fff;
}
.footer-right p {
  margin: 0;
}
.social-links {
  list-style: none;
  margin-top: 0.7em;
  padding: 0;
}
.social-links li {
  display: inline-block;
  margin-left: 0.5em;
}

.social-links a {
  border: 0.1em solid transparent;
  padding: 0.4em;
  border-radius: 1.1em;
}
.social-links .social-icon {
}
.social-links .facebook a:hover .social-icon {
  color: #11468F;
  opacity: 1;
}
.social-links .instagram a:hover .social-icon {
  color: #BD4B4B;
  opacity: 1;
}
.social-links .instagram {
  text-decoration: none;
}
.social-links .facebook {
  text-decoration: none;
}
.social-links .instagram a:hover {
  color: #BD4B4B;
}
.social-icon {
  width: 1.3em;
  height: 1.3em;
  margin-bottom: 0.3em;
  color: #000;
  opacity: 0.65;
}
.textile-home {
  height: 70vh;
}

.company {
  font-size: 0.8em;
  margin-bottom: 0;
}
.contract-link {
  text-decoration: none;
}
.contracts-list-item {
  margin-bottom: 0.7em;
}

/* CONTACT PAGE */

.form-error {
  color: red;
  font-size: 0.8em;
}

.tittle {
	text-align: center;
	margin-bottom: 25px;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 70px;
  opacity: 0.8;
}
.tittle h4 {
	font-weight: normal;
	margin: 0px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.tittle p {
	color: #989898;
	font-size: 15px;
	font-family: 'Droid Serif', serif;
	line-height: 28px;
}
.contact-info h5 {
  opacity: 0.85;
  margin-bottom: 2em;
  text-align: center;
}
.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-icon {
  opacity: 0.9;
  font-size: 0.9em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
}

.contact-info .media {
  display: flex;
  overflow: hidden;
  float: left;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  width: 100%;
}
.contact-info .media-left {
  display: inline-block;
  margin: 1em;
  height: 100%;
  width: 25%;
}
.contact-info .media-body {
  display: inline-block;
  width: 75%;
}
.contact-info h6 {
  font-size: 0.95em;
  opacity: 0.75;
}
.contact-info p {
  font-size: 0.85em;
  opacity: 0.7;
}
.media-left .icon-div {
  display: inline-block;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  border: 1px solid gray;
  border-radius: 200px;
  padding: 1em;
}
.media-left .icon {
  opacity: 0.85;
  height: 1.4em;
  width: 1.4em;
}
.contact-form {
}
.contact-form ul {
  list-style: none;
}
.form-control {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #e8e8e8;
	background: #fff;
}
.contact-form input {
  display: inline-block;
	width: 100%;
	font-size: 13px;
	padding: 0 20px;
	height: 47px;
	font-weight: normal;
	color: #000;
}
.contact-form label {
	font-weight: normal;
	color: #444444;
	font-size: 1em;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
  height: 185px;
	position: relative;
}

.contact-form .btn {
	background: none;
	color: #35373e;
	border-radius: 4px;
	display: inline-block;
	padding: 13px 30px;
	font-size: 12px;
	border: 1px solid #35373e;
	text-transform: uppercase;
	border-radius: 0px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.contact-form .btn:hover {
	background: #35373e;
	color: #fff;
}

/* MARINE HOME */
.marine-home-section {
  background-color: #F8F9FA;
}
.marine-home-section p {
  font-size: 1em;
}
.marine-home-section .col-12 p {
  opacity: 0.9;
  line-height: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.marine-sub-article img {
  height: 360px;
  width: 100%;
}

.marine-sub-article h6 {
  font-size: 16px;
  opacity: 0.95 !important;
}

.marine-sub-article p {
  font-size: 13px;
  opacity: 0.85 !important;
  line-height: 2em;
}

/* ABOUT US SECTION*/

.about-us-section article {
  width: 80%;
}
.about-us-section p {
  line-height: 2em;
  opacity: 0.7;
}
.about-us-section h4 {
  opacity: 0.9;
}
.about-img {
  height: 450px;
  width: 600px;
}

/* TEXTILE HOME SECTION*/

.textile-home-product-card {
  display: flex;
  border-radius: 6px;
  height: 320px;
  width: 530px;
  position: relative;
  /* font-family: "Rajdhani", sans-serif; */
  overflow: hidden;
  align-items: center;
  transition: all 0.3s;
}

.product-card-detail {
  margin:0;
  z-index: 20;
  padding: 0;
  font-size: 100%;
  width: 100%;
  vertical-align: baseline;
  text-align: center;
}

.product-card-detail span {
  display: block;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

.detail-button {
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  text-decoration: none;
}

.detail-button:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  margin-top: 5px;
  transition: width 0.3s;
}

.detail-button:hover {
  cursor: pointer;
  color: #fff;
}

.detail-button:hover::after {
  width: 100%;
}


.product-card-img {
  /* background-image: url('/images/textilegeneral/kumas11.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  box-shadow: inset 0 0 100px 300px rgb(27 36 65 / 30%);
}

.textile-home-product-card:Hover {
  -webkit-box-shadow: 0 0 0 2px #E41D4D;
  box-shadow: 0 0 0 2px #E41D4D;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02); 
}

.textile-home-product-card:Hover .product-card-img {
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px); 
}

.home-article-main {
  line-height: 2.1em;
  font-size: 1.1em;
}

.home-article-main p{
  padding: 1em;
}

.textile-home-slider {
  width: 100%;
  height: 80%;
}

/* TEXTILE SLIDER */
.carousel-edit {
  width: 100%;
}
.carousel-inner img {
  opacity: 0.95;
}
.carousel-item {
  position: relative !important;
}
.carousel-item-text-1 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.8;
  font-size: 2em;
  padding: 1em;
  left: 100px;
  right: 100px;
  bottom: 50px;
}
.carousel-item-text-2 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.9;
  font-size: 2em;
  padding: 1em;
  top: 50px;
  right: 50px;
}
.carousel-item-text-3 {
  position: absolute;
  background-color: transparent;
  color: #F1F6F9;
  font-style: italic;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  opacity: 0.9;
  font-size: 2em;
  padding: 1em;
  top: 50px;
  left: 50px;
  right: 50px;
}

/* 404 */


/* SIDEBAR */

.sidebar {
}

.sidebar ul {
  list-style: none;
  background-color: transparent;
  width: 100%;
  margin-top: 1em;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  height: 100px;
  opacity: 0.7;
  display: inline-block;
  transition: opacity 0.3s;
}

.sidebar ul li:hover {
  opacity: 0.85;
}

/* .sidebar ul li:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar ul li:last-of-type {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
} */

.sidebar ul li:hover {
  background-color: #000;
}

.sidebar ul li:hover a {
  color: #000;
  opacity: 0.8;
  font-weight: 500;
}

.sidebar ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: #e8e8e8;
}

.sidebar ul li a:hover {
  color: #000;
  opacity: 0.8;
}

.sidebar-curtain {
  background: url('/images/textileproductnavs/curtain.jpeg');
  background-size: cover;
}
.sidebar-towel {
  background: url('/images/textileproductnavs/towel.jpeg');
  background-size: cover;
}
.sidebar-fabric {
  background: url('/images/textileproductnavs/fabric.jpeg');
  background-size: cover;
}
.sidebar-tshirt {
  background: url('/images/textileproductnavs/tshirt.jpeg');
  background-size: cover;
}

/* PRODUCTS TEXTILE */

.parallax {
  /* The image used */
  background-image: url("/images/parallax.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .product-row {
  height: 100vh;
} */

.products-section h1 {
  font-size: 2em;
}

.products-wrapper {
}

.products-section a {
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  color: #F8F9FA;
  font-weight: 500;
  width: 100%;
  height: 90px;
  padding: 1.3em;
  border-radius: 0.6em;
  border: 3px solid #e8e8e8;
  transition: all 0.15s;
  background-size: cover;
}


.products-section a:hover {
  cursor: pointer;
  border-color: #CCC;
}

.product-row-2 p {
  font-size: 1.1em;
  line-height: 1.8em;
}

.product-img {
  display: flex;
  box-shadow: 5px 8px 8px rgba(50, 50, 50, 0.4);
}

.product-row-2 ul {
  padding: 1em;
}

.product-row-2 p {
  font-size: 1.1em !important;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.product-row-2 h3 {
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 1.9em !important;
}

.product-row-3 ul {
  list-style: none;
  padding: 0;
}

.product-row-3 ul li {
  margin-bottom: 0.5em;
  font-size: 0.96em;
  opacity: 0.85 !important;
  line-height: 2em;
}

.product-row-3 ul li p {
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
}

/* CORPORATE */

.corporate-navbar {
  padding: 0.7em;
  background-color: #f6f8fb;
}

.corporate-nav {
  position: relative;
  display: block;
  text-decoration: none;
  color: gray;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: large;
  width: 250px;
  transition: color 0.3s;
}

.corporate-nav:hover {
  color: #5F9DF7;
}

.corporate-navbar a:last-of-type {
  border-bottom: none !important;
}

.chevron-icon {
  position: absolute;
  right: 0;
  font-size: 0.8em;
}

/* MARINE SLIDER */

.marine-slider-box-1 {
  position: absolute;
  left: 100px;
  top: 200px;
}

.marine-progress {
  width: 100%;
  -webkit-appearance: none;
  accent-color: gray;
}

/* MODEL */

.lightbox-video {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox-close-button {
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
  border: transparent;
  font-size: 1.3em;
  padding: 0.4em;
  margin: 5px 5px 0 0;
  color: #CCCCCC;
}

.lightbox-youtube {

}

.model-under {
  background-color: #fff;
}

.model-under p {
  color: #606060 !important;
}

.model-under h2 {
  color: #222 !important;
}

.model-top {
  padding: 1em;
  background-color: #fff;
}

.equipment-nav a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.equipment-nav a:hover {
  opacity: 0.7 !important;
}

.equipment-panel h4 {
  font-size: 1.3em;
}

.equipment-panel p {
  font-size: 14px;
  opacity: 0.85 !important;
  line-height: 2em;
}

.tabs a {
  font-size: 1.15em;
}

.tabs a:hover {
  cursor: pointer;
}

.tab-underline {

}

.tab-underline a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  color: #5F9DF7;

}

/* MEDİA QUERIES */

@media screen and (max-width: 992px) {
  p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .model-image-top{  
    position: relative;
    z-index: 1;
  }

  .model-video-button-div {
    position: absolute;
    display: inline;
    top: 55%;
    left: 20px;
    right: 20px;
    text-align: center;
    padding: 1em;
  }

  .model-video-button {
    padding: 0.5em;
    border: 2px solid rgba(73, 121, 255, 0.4);
    background-color: rgba(50, 50, 50, 0.4);
    font-family: 'Montserrat';
    font-size: 0.9em;
    color: #F8F9FA;
    border-radius: 0.4em;
    transition: all 0.3s;
  
  }
  
  .model-video-button {
    padding: 0.7em;
    border: 2px solid rgba(73, 121, 255, 0.4);
    background-color: rgba(50, 50, 50, 0.4);
    font-family: 'Montserrat';
    font-size: 1.1em;
    color: #F8F9FA;
    border-radius: 0.4em;
    transition: all 0.3s;
  
  }
  
  .model-video-button:active {
    border-color: #4979ff;
    background-color: rgba(50, 50, 50, 0.7);
    color: #F8F9FA;
  }

.dropdown-li-models {
  display: inline-block;
  width: 200px;
  transition: all 0.5s;
}

.dropdown-li-models b {
  color: #888 !important;
  font-size: 1.2em;
}

.dropdown-li-models:hover {
}

.dropdown-li-models:hover a {
  color: #5F9DF7;
}

.dropdown-item {
  color: #abc;
  background-color: transparent;
}

  .dropdown-below-icon {
    display: none;
  }

  .design .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .index-icon {
    height: 50vh;
  }
  .navbar-mine {
    justify-content: center !important;
  }
  .nav-item-mine {
    border-bottom: none;
    border-color: transparent;
  }
  .info-list-container {
    text-align: center;
  }
  .footer-icon {
    justify-content: center;
  }
  .navbar-mobile {
    text-align: center;
  }
  .header-phones {
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
  }
  .telephone-icon {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) { 
  .equipment-image {
    justify-content: center;
  }

  .marine-carousel-header {
    position: absolute;
    background-color: transparent;
    color: #fff;
    top: 15%;
    left: 20px;
    right: 20px;
    opacity: 1;
    text-align: center;

  }

  .marine-carousel-header h1 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 1 !important;
  }

  .marine-carousel-header p {
    font-size: 0.9rem;
    margin-top: 0.5em;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 1 !important;
  }

  .model-top-text {
    position: absolute;
    background-color: transparent;
    color: #fff;
    top: 20%;
    left: 20px;
    right: 20px;
    opacity: 1;
    text-align: center;
  }

  .navbar-mobile {
    text-align: center;
  }
  /* .sidebar ul li:first-of-type {
    border-top-left-radius: 10px;
  }
  .sidebar ul li:nth-of-type(2) {
    border-top-right-radius: 10px;
  }
  .sidebar ul li:nth-of-type(3) {
    border-bottom-left-radius: 10px;
  }
  .sidebar ul li:last-of-type {
    border-bottom-right-radius: 10px;
  } */
  
}

@media screen and (min-width: 992px) { 

.marine-list-override {
  width: 1000px !important;
  left: -800px !important;
}

.dropdown-li-models {
  display: inline-block;
  width: 240px;
  transition: all 0.5s;
}

.dropdown-li-models b {
  color: #888 !important;
  font-size: 1.2em;
}

.dropdown-li-models:hover {
  background-color: #fff;
}

.dropdown-li-models:hover a {
  color: #5F9DF7;
}

.dropdown-item:hover {
  color: #11468F;
  background-color: transparent;
}

  .model-under {
  }

  .model-video-button-div {
    position: absolute;
    display: inline;
    top: 54%;
    left: 20px;
    right: 20px;
    text-align: center;
    padding: 1em;
  }
  
  .model-video-button {
    padding: 1.4em;
    border: 2px solid rgba(150, 150, 150, 0.4);
    background-color: rgba(50, 50, 50, 0.4);
    font-family: 'Montserrat';
    font-size: 1.8em;
    color: #F8F9FA;
    border-radius: 0.4em;
    transition: all 0.3s;
  
  }
  
  .model-video-button:hover {
    padding-left: 1.9em;
    padding-right: 1.9em;
    border-color: rgba(150, 150, 150, 0.8);
    background-color: rgba(50, 50, 50, 0.6);
    font-size: 1.9em;
    color: #fff;
  }
  
  .model-video-button:active {
    border-color: #4979ff;
    background-color: rgba(50, 50, 50, 0.7);
    font-size: 1.9em;
    color: #F8F9FA;
  
  }

  .content-model {
    width: 95%;
    background-color: #fff;
    position: relative;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    left: 0;
    right: 0;
    transition: all 0.7s;
    box-shadow: 2px 5px 5px 2px rgba(150, 150, 150, 0.1);
  }

  .model-image-top{  
    position: relative;
    z-index: 1;
  }

  .marine-carousel-box-1 {
    position: absolute;
    background-color: transparent;
    color: #F1F6F9;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    opacity: 1;
    font-size: 1em;
    padding: 1em;
    left: 200px;
    right: 100px;
    bottom: 50px;
  }

  .marine-carousel-header {
    position: absolute;
    background-color: transparent;
    color: #fff;
    top: 100px;
    left: 20px;
    right: 20px;
    opacity: 1;
    text-align: center;

  }

  .marine-carousel-header h1 {
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 1 !important;
  }

  .marine-carousel-header p {
    font-size: 1.2em;
    margin-top: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 1 !important;
  }

  .model-top {
    width: 97%;
    padding: 1em;
    background-color: #fff;
  }

  .model-top-text {
    position: absolute;
    background-color: transparent;
    color: #fff;
    top: 15%;
    left: 20px;
    right: 20px;
    opacity: 1;
    text-align: center;
  }

  .model-top-text h1 {
    font-size: 2.8em;
    letter-spacing: 2px;
    opacity: 1 !important;
  }

  .model-top-text p {
    font-size: 1.2em;
    margin-top: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 1 !important;
  }

  .nav-link-textile {
    position: relative;
    transition: all 0.2s;
    transition-timing-function: ease-in;
  }

  .textile-active {
    color:#E41D4D !important;
  }

  .textile-active:before {
    content: '';
    position: absolute;
    border-radius: 1px;
    left: 0;
    bottom: -9px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #E41D4D;
    border: none !important;
  }

  .marine-active {
    color:#11468F !important;
  }

  .marine-active:before {
    content: '';
    position: absolute;
    border-radius: 1px;
    left: 0;
    bottom: -9px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #11468F;
    border: none !important;
  }

  .nav-link-marine {
    position: relative;
    transition: all 0.2s;
    transition-timing-function: ease-in;
  }

  .nav-link-textile:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    display: block;
    height: 2px;
    width: 0;
    background-color: #E41D4D;
    border: none !important;
    transition: all 0.25s;
  }

  .nav-link-marine:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    display: block;
    height: 2px;
    width: 0;
    background-color: #11468F;
    border: none !important;
    transition: all 0.25s;
  }

  .nav-link-marine:hover {
    color:#11468F !important;
    /* border-bottom: 3px solid #11468F; */
  }

  .nav-link-textile:hover {
    color:#E41D4D !important;
    /* border-bottom: 3px solid #E41D4D; */
  }

  .nav-link-textile:hover:after {
    width: 100%;
  }

  .nav-link-marine:hover:after {
    width: 100%;
  }

  .table-container h3 {
    margin-bottom: 1.4em !important;
  }

  .table-container th {
    color: #444444 !important;
    font-weight: 400 !important;
    font-size: 1.3em !important;
    padding: 0.5em !important;
    opacity: 0.95 !important;
  }

  .table-container td {
    opacity: 0.9 !important;
    padding: 1em !important;
    text-align: start !important;
  }
}

@media screen and (max-width: 768px) {
  .enterance-wrapper {
  }

  .textile-side {
    position: relative;
    height: 50vh;
  }

  .marine-side {
    position: relative;
    height: 50vh;
  }

  .marine-site-link {
    position: absolute;
    top: 40%;
    left: 15%;
    color: #000;
    display: flex;
    z-index: 100;
    align-items: center;
  }

  .textile-site-link {
    position: absolute;
    top: 40%;
    left: 15%;
    color: #000;
    z-index: 100;
    display: flex;
    align-items: center;
  }

  .textile-site-link img {
    z-index: 100;
  }

  .marine-site-link img {
    z-index: 100;
  }

  .side-background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }

  .anchor-style {
    text-decoration: none;
    font-size: 2.1em;
    letter-spacing: 2px;
    color: #fff;
    z-index: 100;
    transition: all 0.25s;
  }

  .anchor-style:hover {
    color: #fff;
  }
  
}

@media screen and (min-width: 768px) { 
  .enterance-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .textile-side {
    position: absolute;
    top:0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .textile-side:hover {
    cursor: pointer;
  }

  .marine-side {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    clip-path: polygon(90% 0, 100% 0%, 100% 100%, 10% 100%);
  }

  .marine-side:hover {
    cursor: pointer;
  }

  .marine-site-link {
    color: #000;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    bottom: 7%;
    right: 5%;
  }

  .textile-site-link {
    color: #000;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    top: 10%;
    left: 5%;
  }

  .side-background {
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    object-fit: cover;
  }

  .anchor-style {
    text-decoration: none;
    font-size: 2.1em;
    letter-spacing: 2px;
    color: #fff;
    transition: all 0.25s;
  }

  .textile-side:hover .anchor-style {
    font-size: 2.3em;
    color: #fff;
  }

  .marine-side:hover .anchor-style {
    font-size: 2.3em;
    color: #fff;
  }

  .side-background img {
    object-fit: cover;
    transition: all 0.35s;
  }
}